<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Resultsheet</servlet-name>
        <jsp-file>/Resultsheet1.jsp</jsp-file>
    </servlet>   
    <servlet-mapping>
        <servlet-name>Resultsheet</servlet-name>
        <url-pattern>/Resultsheet</url-pattern>
    </servlet-mapping> <servlet>
        <servlet-name>Resultsheet1_process</servlet-name>
        <jsp-file>/Resultsheet1_process.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resultsheet1_process</servlet-name>
        <url-pattern>/Resultsheet1_process</url-pattern>
    </servlet-mapping> <servlet>
        <servlet-name>ResultsheetDesing</servlet-name>
        <jsp-file>/ResultsheetDesing.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResultsheetDesing</servlet-name>
        <url-pattern>/ResultsheetDesing</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrationForm</servlet-name>
        <jsp-file>/RegistrationForm.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationForm</servlet-name>
        <url-pattern>/RegistrationForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <jsp-file>/HomePage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrationForm_process</servlet-name>
        <jsp-file>/RegistrationForm_process.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationForm_process</servlet-name>
        <url-pattern>/RegistrationForm_process</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogInPage</servlet-name>
        <jsp-file>/LogInPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInPage</servlet-name>
        <url-pattern>/LogInPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogInPage_process</servlet-name>
        <jsp-file>/LogInPage_process.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInPage_process</servlet-name>
        <url-pattern>/LogInPage_process</url-pattern>
    </servlet-mapping>
</web-app>
